<div class="span12">
  <div class="page-header">
    <h1>Users</h1>
  </div>
              
  <div>
    Users count : <%= @users.count %>
    <br>
    <%= link_to "Export", backoffice_users_path(format: "xls"), :class => 'btn btn-success', target: '_blank' %>
  </div>
</div>