<!DOCTYPE html>
<html lang="en">
  <head>
    
  <!-- 

   /$$$$$$$   /$$$$$$        /$$                       /$$      /$$ /$$ /$$ /$$                
  | $$__  $$ /$$__  $$      | $$                      | $$$    /$$$|__/| $$| $$                
  | $$  \ $$| $$  \ $$      | $$$$$$$  /$$   /$$      | $$$$  /$$$$ /$$| $$| $$   /$$ /$$   /$$
  | $$$$$$$ | $$  | $$      | $$__  $$| $$  | $$      | $$ $$/$$ $$| $$| $$| $$  /$$/| $$  | $$
  | $$__  $$| $$  | $$      | $$  \ $$| $$  | $$      | $$  $$$| $$| $$| $$| $$$$$$/ | $$  | $$
  | $$  \ $$| $$  | $$      | $$  | $$| $$  | $$      | $$\  $ | $$| $$| $$| $$_  $$ | $$  | $$
  | $$$$$$$/|  $$$$$$/      | $$$$$$$/|  $$$$$$$      | $$ \/  | $$| $$| $$| $$ \  $$|  $$$$$$$
  |_______/  \______/       |_______/  \____  $$      |__/     |__/|__/|__/|__/  \__/ \____  $$
                                       /$$  | $$                                      /$$  | $$
                                      |  $$$$$$/                                     |  $$$$$$/
                                       \______/                                       \______/ 
  -->
    
    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>Backoffice Milky</title>
    <meta name="description" content="Backoffice Milky">
    <meta name="author" content="Milky">
    <!-- end: Meta -->
    
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    
    <%= stylesheet_link_tag    "backoffice", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- start: Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- end: Favicon -->
      
  </head>

  <body class="not_logged">
    <%= yield %>
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "backoffice" %>
    <!-- end: JavaScript-->

  </body>
</html>